/* contact us */
.contact-container {
    height: 100vh;
}

.contact-img-container {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.contact-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.form-container {
    padding: 6% 8% 2rem 8%;
    color: rgb(var(--font));
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-container.contact {
    justify-content: center;
}

.form-textfield {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
}

.form-textfield .contact-item {
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

input, textarea, select {
    border-radius: 10px;
    border: 1px solid #618264;
    background: #F1F3F2;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

textarea {
    height: 150px;
    resize: vertical;
}

.contact-btn {
    border-radius: 10px;
    background: rgb(var(--hijau-gelap));
    height: 50px;
    color: rgb(var(--white-background));
    border: none;
    width: 100%;
}

@media (max-width: 992px) {
    .navbar {
        display: block;
    }

    .contact-img-container {
        display: none;
    }

    .form-container {
        padding: 12% 12% 1rem 12%;
        width: 100%;
    }

    .form-container h1 {
        margin-bottom: 3rem !important;
    }

    .contact .form-textfield {
        row-gap: 1rem;
    }
}

@media (max-width: 576px) {
    .form-container {
        padding: 20% 12% 1rem 12%;
    }
}
