body {
    background-image: url("/assets/gallery/gallery_background.png");
    background-size: cover;
    background-repeat: repeat-y;
}

.gallery-container {
    padding-top: 10rem;
    padding-left: 8%;
    padding-right: 8%;
}

.gallery-item-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;
}

.gallery-item-container .img-desc {
    top: 0;
    padding: 10% 5% 5% 5%;
    width: 100%;
    min-height: 100%;
    color: white;
    background-color: rgba(var(--hitam), 0.75);
    border-radius: 6px;
    transition: 0.5s;
    opacity: 0;
}

.gallery-item {
    border: none;
}

.gallery-item.card {
    background-color: transparent;
}

.img-desc:hover {
    opacity: 1;
}

.img-container {
    border: 2px solid #adbc9f;
    border-radius: 7.5px;
    box-shadow: 0px 8px 30px 0px rgba(var(--hitam), 0.25);
    backdrop-filter: blur(6.099999904632568px);
    text-overflow: ellipsis;
    overflow: auto; /* Enable scrolling within the container */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.img-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.img-container img {
    border-radius: 7.5px;
    width: 100%;
}

.no-data-container {
    height: 100vh;
    padding: 0rem 1.5rem;
}

@media (max-width: 992px) {
    .gallery-item-container h1 {
        font-size: 36px;
    }

    .gallery-item-container p {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .gallery-item-container .img-desc {
        height: fit-content;
    }
}
