.payment-detail-container {
    height: 100vh;
    padding: 10rem 10% 0 10%;
    background-image: url('/assets/PaymentDetailsBackground.png');
    background-size: cover;
}

.paymentDetails {
    width: 47%;
    height: 95%;

    border-radius: 0.9375rem;
    border: 1px solid var(--tes1, #adbc9f);
    background: var(
        --tes1,
        linear-gradient(
            108deg,
            rgba(173, 188, 159, 0.3) 10.91%,
            rgba(79, 86, 73, 0.3) 111.54%
        )
    );

    /* tes1 */
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
}

.form-control {
    height: 3.3125rem;
    border-radius: 0.625rem;
    border: 1px solid #618264;
}

.order-summary-container {
    width: 47%;
    /* padding-left: 5%; */
}

@media (max-width: 992px) {
    .payment-detail-container {
        background-image: url('/assets/PaymentDetailsBackgroundMobile.png');
        flex-direction: column-reverse !important;
        align-items: center;
        height: auto;
        padding: 10rem 15% 10rem 15%;
        row-gap: 3rem;
    }

    .paymentDetails {
        width: auto;
        padding-bottom: 3rem !important;
    }

    .order-summary-container {
        width: auto;
    }

    .titleOrder {
        text-align: center;
    }
}
