.plant-care-list {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    margin-bottom: 4rem;
}

.plant-care-img {
    padding: 0;
}

.plant-care-item {
    color: rgb(var(--font));
    display: flex;
    text-align: center;
    row-gap: 1rem;
    padding: 4rem 10rem 4rem 10rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

.plant-care-item:first-child {
    padding: 0rem 10rem 4rem 10rem;
}

.plant-care-item:last-child {
    padding: 4rem 10rem 0rem 10rem;
    border-bottom: none;
}

.plant-care-item .btn {
    text-align: center;
    color: rgb(var(--white-background));
    background-color: rgb(var(--hijau-gelap));
    width: 25%;
}
