.profile-container {
    padding-top: 10rem;
    padding-left: 7%;
    padding-right: 7%;
}

.profile-container .profile-pic {
    width: 8%;
}

.profile-box {
    padding: 2rem;
    border-radius: 20px;
    background: linear-gradient(
        108deg,
        rgba(173, 188, 159, 0.3) 10.91%,
        rgba(79, 86, 73, 0.3) 111.54%
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
}

.profile-header .username {
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 55%;
}

.edit-btn {
    padding: 0.5% 2.5%;
    height: fit-content;
    border-radius: 15px;
    background-color: rgb(var(--white-background));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border: none;
}

.submit-btn {
    padding: 0.5rem 2rem;
    height: fit-content;
    border-radius: 15px;
    background-color: rgb(var(--white-background));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border: none;
    display: none !important;
}

.submit-btn.enabled {
    display: block !important;
}

.edit-btn.enabled {
    display: none !important;
}

.profile-item {
    flex-basis: 50%;
}

.profile-item input:disabled {
    border: none;
    background-color: transparent;
    padding: 0 !important;
}

.profile-item input {
    line-height: 50px;
    border-radius: 10px;
    border: 1px solid #618264;
    background: #F1F3F2;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

@media (max-width: 992px) {

    .edit-btn {
        padding: 1% 4%;
    }


}
@media (max-width: 768px) {
    .profile-container .profile-pic {
        width: 15%;
    }

    .profile-header {
        flex-direction: column !important;
        row-gap: 0.5rem;
    }

    .profile-header label {
        display: none;
    }

    #redeem-code-form {
        margin-left: 0 !important;
    }

    .redeem-code-btn-container {
        flex-direction: column !important;
        align-items: center;
        row-gap: 1rem;
    }

    .redeem-code-btn-container button {
        width: fit-content;
    }
}

@media (max-width: 576px) {
    .profile-container .planty-text {
        font-size: 18px;
    }

    .profile-container .planty-text-sentence {
        font-size: 14px;
    }

    .edit-btn {
        padding: 1.5% 6%;
    }
}
