* {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

.jumbo {
    background-image: url("/assets/tutorial/jumbo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 90rem; */
    height: 45.0625rem;
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding-top: 2rem; */
}

.tutorial-container.container-fluid {
    background-image: url("/assets/tutorial/tutor-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    /* padding-top: 7rem; */
}

.jumbo-back{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 7%;
}

.back-btn{
    width: 1.3125rem;
    height: 2rem;
}

.back{
    padding-left: 5%;
    padding-top: 7rem;
}


.jumbo-text {
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    /* background-color: aliceblue; */
}

.jumbo-text h2 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.jumbo-desc {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jumbo-desc h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.jumbo-desc p {
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

/* .container {
    background-color: aliceblue;
} */

.tutor {
    height: 36.5rem;
}

.tutor-scroll {
    /* justify-content: center; */
    align-items: center;
    gap: 3rem;
    padding-left: 15%;
    padding-right: 10%;
}

.tutor-card {
    border-radius: 0.9375rem;
    border: 1px solid var(--tes1, #adbc9f);
    background: var(
        --tes1,
        linear-gradient(
            108deg,
            rgba(173, 188, 159, 0.3) 10.91%,
            rgba(79, 86, 73, 0.3) 111.54%
        )
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
    width: 25rem;
    height: 30.375rem;
    transition: all 0.2s !important;
}

/* .tutor-card:hover {
    background-color: #adbc9f;
} */

#card1:hover{
    background-color: #ADBC9F;
}

#card2:hover{
    background-color: #618264;
}

#card3:hover{
    background-color: #3EA047;
}

#card4:hover{
    background-color: #2D563D;
}

.tutor-card-top {
    justify-content: start;
    align-items: center;
    padding: 1.3rem;
    padding-left: 0;
    padding-top: 4rem;
    /* background-color: lightblue; */
    gap: 0.5rem;
}

.tutor-card-top img {
    width: 15.375rem;
    height: 0.0625rem;
    /* background-color: #ADBC9F; */
}



.tutor-card-top p {
    color: #122218;
    font-family: "DM Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* background-color: blueviolet; */
    text-align: center;
    padding: 0;
    margin: 0;
    width: 7rem;
}

.tutor-card-main {
    justify-content: center;
    align-items: flex-start;
    /* background-color: gray; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

.tutor-card-title {
    gap: 0.5rem;
}

.tutor-card-title img {
    width: 2.3rem;
    height: 3.5625rem;
}

#card2 .tutor-card-title img{
    width: 3rem;
}

#card4 .tutor-card-title img{
    width: 3rem;
}

.tutor-card-title p {
    color: #122218;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tutor-card-desc p {
    color: #122218;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 13.5625rem;
}

.learn-more {
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    /* background-color: aqua; */
    gap: 0.5rem;
}

.learn-more:hover {
    cursor: pointer;
}

.learn-more p {
    /* background-color: antiquewhite; */
    margin: 0;
}

.learn-more img {
    width: 1.25rem;
    height: 0.5rem;
    /* background-color: #ADBC9F; */
}

.tutor-scroll::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.tutor-scroll {
    padding-bottom: 2rem;
}

.ask-us {
    /* height: 40rem; */
    padding: 8rem;
}

/* .row-ask{
    flex-wrap: wrap;
} */

.askus-img {
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.askus-img img{
    width: 100%;
    /* height: 100%; */
}

.askus-desc {
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
    text-align: left;
    gap: 0.7rem;
}

.askus-desc h4 {
    color: #122218;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.askus-desc p {
    color: #122218;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* width: 35rem; */
}

.popup {
    width: 68.0625rem;
    height: 37.625rem;
    border-radius: 0.9375rem;
    background: var(
        --tes1,
        linear-gradient(
            108deg,
            rgba(173, 188, 159, 0.3) 10.91%,
            rgba(79, 86, 73, 0.3) 111.54%
        )
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    justify-content: center;
    align-items: center;
}

.popup-x {
    background-color: aqua;
    justify-content: end;
}
.popup-x i {
    color: white;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
}

.popup-content {
    gap: 1rem;
}

.popup-vid iframe {
    width: 30.7585rem;
    height: 14.875rem;
    border-radius: 0.65625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.popup-left {
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.popup-head {
    width: 30.75rem;
    height: 14.6875rem;
    justify-content: start;
    align-items: start;
    text-align: left;
    border-radius: 0.9375rem;
    border: 1.5px solid #adbc9f;
    background: linear-gradient(
        108deg,
        rgba(173, 188, 159, 0.3) 10.91%,
        rgba(255, 255, 255, 0.3) 111.54%
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
    padding: 1.5rem;
    padding-top: 3rem;
    gap: 1rem;
}

.popup-title {
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.popup-title h2 {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popup-title img {
    width: 1.29031rem;
    height: 2.52531rem;
}

#popup-img2{
    width: 2rem;
    height: 2.25rem;
}

#popup-img3{
    width: 2rem;
    height: 3.4rem;
}

#popup-img4{
    width: 2rem;
    height: 3.25rem;
}

.popup-head p {
    color: #fff;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 25.9375rem;
}

.popup-right {
    border-radius: 0.9375rem;
    border: 1.5px solid #adbc9f;
    background: linear-gradient(
        108deg,
        rgba(173, 188, 159, 0.3) 10.91%,
        rgba(255, 255, 255, 0.3) 111.54%
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
    width: 29.8125rem;
    /* height: 30.4375rem; */
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
    padding-top: 4rem;
}

.popup-right h2 {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popup-right p {
    color: #fff;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1200px) {

    .modal{
        --bs-modal-width:auto;
    }

    .modal-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }

    .popup{
        width: 80%;
        height: auto;
        padding: 2rem;
    }

    .popup-content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .popup-left{
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .popup-vid{
        display: flex;
        justify-content: center;
    }

    .popup-vid iframe{
        width: 100%;
        height: auto;
    }

    .popup-head{
        width: 80%;
        height: auto;
        padding-top: none;
        padding: 1rem;
    }

    .popup-head p{
        width: 80%;
    }

    .popup-right{
        width: 80%;
        height: auto;
        padding-top: none;
        padding: 1rem;
    }
}

@media (max-width: 768px){
    .row-ask{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .ask-us{
        padding: 3rem;
    }

    .askus-img{
        width: 100%;
    }

    .askus-desc{
        width: 90%;
    }

    .tutor {
        height: auto;
    }


}

@media (max-width: 576px){

    .tutorial-container.container-fluid{
        background-image: url("/assets/tutorial/tutor-mobile.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-top: 7rem; */
    }

    .jumbo-text h2{
        font-size: var(--planty-heading-mobile-1-font-size);
    }

    .jumbo-desc h3{
        font-size: var(--planty-heading-mobile-3-font-size);
    }

    .jumbo-desc p{
        font-size: var(--planty-heading-mobile-paragraph-font-size);
    }

    .askus-desc h4{
        font-size: var(--planty-heading-mobile-2-font-size);
    }

    .askus-desc p{
        font-size: var(--planty-heading-mobile-paragraph-font-size);
    }

    .popup-head p{
        font-size: var(--planty-heading-mobile-paragraph-font-size);
    }

    .popup-head h2{
        font-size: var(--planty-heading-mobile-3-font-size);
    }

    .popup-right h2{
        font-size: var(--planty-heading-mobile-3-font-size);
    }

    .popup-right p{
        font-size: var(--planty-heading-mobile-paragraph-font-size);
    }

    .tutor-card{
        scale: 0.75;
        /* width: 17.5625rem;
        height: 21.375rem; */
    }

    .tutor-scroll{
        padding-left: 5%;
        padding-right: 5%;
    }

    .jumbo-text{
        gap: 3rem;
    }
}
