*{
    scroll-behavior: smooth;
}


.jumbo {
    background-image: url(../assets/tutorial/jumbo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 90rem; */
    height: 45.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}

.container-fluid {
    background-image: url(../assets/tutorial/tutor-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    /* padding-top: 7rem; */
}

.jumbo-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    /* background-color: aliceblue; */
}

.jumbo-text h2{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.jumbo-desc{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jumbo-desc h3{
    color: #FFF;
    font-family:"Poppins", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.jumbo-desc p{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50rem;
}

.container {
    background-color: aliceblue;
}

.tutor{
    height: 36.5rem;
}

.tutor-scroll{
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-left: 20rem;
}

.tutor-card{
    border-radius: 0.9375rem;
    border: 1px solid var(--tes1, #ADBC9F);
    background: var(--tes1, linear-gradient(108deg, rgba(173, 188, 159, 0.30) 10.91%, rgba(79, 86, 73, 0.30) 111.54%));
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
    width: 25rem;
    height: 30.375rem;  
    transition: all 0.2s !important;
}
    
.tutor-card:hover{
    /* background: var(--tes1, linear-gradient(108deg, rgba(173, 188, 159, 0.50) 10.91%, rgba(79, 86, 73, 0.70) 111.54%)); */
    background-color: #ADBC9F;
}

.tutor-card-top {
    justify-content: start;
    align-items: center;
    padding: 1.3rem;
    padding-left: 0;
    padding-top: 4rem;
    /* background-color: lightblue; */
    gap: 0.5rem;
}

.tutor-card-top img{
    width: 15.375rem;
    height: 0.0625rem;
    /* background-color: #ADBC9F; */
}

.tutor-card-top p{
    color: #122218;
    font-family: "DM Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* background-color: blueviolet; */
    text-align: center;
    padding: 0;
    margin: 0;
    width: 7rem;
}

.tutor-card-main{
    justify-content: center;
    align-items: flex-start;
    /* background-color: gray; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

.tutor-card-title{
    gap: 0.5rem;
}

.tutor-card-title img{
    width: 1.8125rem;
    height: 3.5625rem;
}

.tutor-card-title p{
    color: #122218;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tutor-card-desc p{
    color: #122218;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 13.5625rem;
}

.learn-more {
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    /* background-color: aqua; */
    gap: 0.5rem;
}

.learn-more:hover{
    cursor: pointer;
}

.learn-more p{
    /* background-color: antiquewhite; */
    margin: 0;
}


.learn-more img{
    width: 1.25rem;
height: 0.5rem;
    /* background-color: #ADBC9F; */
}

.tutor-scroll::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.tutor-scroll{
    padding-bottom: 2rem;
}


.ask-us{
    height: 40rem;
    padding: 10rem;
    padding-right: 5rem;
}

.askus-img{
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.askus-desc{
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
    text-align: left;
    gap: 1rem;
}

.askus-desc h4{
    color: #122218;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.askus-desc p{
    color: #122218;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 33.0625rem;
}

.popup{
    width: 68.0625rem;
    height: 37.625rem;
    border-radius: 0.9375rem;
    background: var(--tes1, linear-gradient(108deg, rgba(173, 188, 159, 0.30) 10.91%, rgba(79, 86, 73, 0.30) 111.54%));
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    justify-content: center;
    align-items: center;
}

.popup-x{
    background-color: aqua;
    justify-content: end;
}
.popup-x i{
    color: white;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
}

.popup-content {
    gap: 1rem;
}

.popup-vid iframe{
    width: 30.7585rem;
    height: 14.875rem;
    border-radius: 0.65625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.popup-left{
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.popup-head{
    width: 30.75rem;
    height: 14.6875rem;
    justify-content: start;
    align-items: start;
    text-align: left;
    border-radius: 0.9375rem;
    border: 1.5px solid #ADBC9F;
    background:  linear-gradient(108deg, rgba(173, 188, 159, 0.30) 10.91%, rgba(255, 255, 255, 0.30) 111.54%);
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
    padding: 1.5rem;
    padding-top: 3rem;
    gap: 1rem;
}

.popup-title{
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.popup-title h2{
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popup-title img{
    width: 1.29031rem;
    height: 2.52531rem;
}

.popup-head p{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 25.9375rem;
}

.popup-right{
    border-radius: 0.9375rem;
    border: 1.5px solid #ADBC9F;
    background:linear-gradient(108deg, rgba(173, 188, 159, 0.30) 10.91%, rgba(255, 255, 255, 0.30) 111.54%);
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
    width: 29.8125rem;
    /* height: 30.4375rem; */
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
    padding-top: 4rem;
}

.popup-right h2{
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popup-right p{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



