:root {
    --white-shadow: 241, 243, 242;
    --hijau-terang: 173, 188, 159;
    --hijau-gelap: 97, 130, 100;
    --white-background: 255, 255, 255;
    --font: 18, 34, 24;
    --hitam: 0, 0, 0;

    --planty-heading-mobile-1-font-size: 28px;
    --planty-heading-mobile-2-font-size: 24px;
    --planty-heading-mobile-3-font-size: 20px;
    --planty-heading-mobile-4-font-size: 16px;
    --planty-heading-mobile-5-font-size: 14px;
    --planty-heading-mobile-label-font-size: 12px;
    --planty-heading-mobile-paragraph-font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 0.5rem 0;
    background-image: linear-gradient(
        108deg,
        rgba(173, 188, 159, 0.3) 10.91%,
        rgba(79, 86, 73, 0.3) 111.54%
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
}

.nav-link {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.nav-link:hover {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(var(--font), 1);
}

#img-logo img {
    object-fit: contain;
}

.navbar .register-btn {
    height: 25px;
    border-radius: 10px;
    background: rgb(var(--hijau-gelap));
    color: rgb(var(--white-background));
    border: none;
    width: 8vw;
    font-size: 14px;
}

.footer {
    background-color: rgba(var(--font), 1);
    padding: 7%;
}

.footer .row ul {
    list-style: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-list li {
    list-style: none;
}

.footer-list.social-media {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: auto;
}

.footer-list.social-media li {
    flex-basis: 50%;
}

.credits {
    margin-top: 4rem;
    border-top: 1px solid #d9d9d9;
}

.planty-heading-1 {
    font-size: 48px;
    font-weight: 700;
    color: #122218;
}

.planty-heading-2 {
    font-size: 40px;
    font-weight: 600;
    color: #122218;
}

.planty-heading-3 {
    font-size: 32px;
    font-weight: 600;
    color: #122218;
}

.planty-heading-4 {
    font-size: 20px;
    font-weight: 600;
    color: #122218;
}

.planty-text-sentence {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #122218;
}

.planty-text-paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #122218;
}

.planty-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #122218;
}

@media (min-width: 1200px) {
    #img-logo {
        display: block;
        height: 85%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #img-logo {
        display: block;
        width: 6%;
    }
}

@media (max-width: 992px) {
    .navbar {
        backdrop-filter: blur(25px);
    }

    #img-logo {
        display: flex;
        width: 90px;
        align-items: flex-start;
    }

    #img-logo img {
        height: auto !important;
    }

    .footer .col-5 {
        padding-left: 2rem;
    }

    .footer .d-flex {
        flex-direction: column !important;
        row-gap: 3rem;
    }

    .footer-list.social-media {
        flex-wrap: wrap;
        text-align: left;
        flex-direction: row;
        width: 100%;
    }

    .footer-list.social-media li {
        flex-basis: 25%;
    }

    .navbar .register-btn {
        width: 30vw;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .nav-item.profile-pic {
        display: none;
    }

    .nav-item.profile {
        display: block;
    }
}

@media (max-width: 576px) {

}
