:root {
    --white-shadow: 241, 243, 242;
    --hijau-terang: 173, 188, 159;
    --hijau-gelap: 97, 130, 100;
    --white-background: 255, 255, 255;
    --font: 18, 34, 24;
    --hitam: 0, 0, 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 0;
    background-image: linear-gradient(
        108deg,
        rgba(173, 188, 159, 0.3) 10.91%,
        rgba(79, 86, 73, 0.3) 111.54%
    );
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.099999904632568px);
}

.nav-link {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.nav-link:hover {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(var(--font), 1);
}

.navbar-brand img {
    display: block;
    width: 15%;
}

.footer {
    background-color: rgba(var(--font), 1);
}

.footer .row ul {
    list-style: none;
}

.footer {
    padding: 10rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-list.social-media {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 12%;
}

.footer-list.social-media li {
    flex-basis: 50%;
}

.credits {
    margin-top: 4rem;
    border-top: 1px solid #d9d9d9;
}

.planty-heading-1 {
    font-size: 48px;
    font-weight: 700;
    color: #122218;
}

.planty-heading-2 {
    font-size: 40px;
    font-weight: 600;
    color: #122218;
}

.planty-heading-3 {
    font-size: 32px;
    font-weight: 600;
    color: #122218;
}

.planty-heading-4 {
    font-size: 20px;
    font-weight: 600;
    color: #122218;
}

.planty-text-sentence {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #122218;
}

.planty-text-paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #122218;
}

.planty-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #122218;
}
